*{
    box-sizing: border-box;
}



a{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 8px;
}


    header{
    width: 800px;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: solid 4px black;
    padding: 10px;
}

header p{
    text-align: left;
}

.articles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.articles > article:first-child{
    color: white;
    background-color: #000;
}

.articles > article:first-child a {
    color: black;
    background-color: white;
}

img{
    width: 100%;
}

article{
    width: 300px;
    border: solid 4px black;
    padding: 20px;
}

