body {
  font-size: 20px;
  color: black;
  margin-right: auto;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0;
  background: #f0efe7;
  padding: 0;
  height: 100%;
}

header{
  text-align: center;
  margin-bottom: 5px;
 
}
h1,h2{
  margin:5px;
 
}
article{
  padding-left: 20px;
}

article:first-child {
  margin-bottom: 10px;
  border: 1.0px solid white;
  border-radius: 15px;
  height: auto;
}

#article-one-h2-margin{
  margin-left: 80px;

}
#article-first-child-title{
  display: flex;
}

#other-article-title{
  display: flex;
  width: 991px;
  margin:5px;
  border: 0.1px solid white;
  border-radius: 15px;
}
.article-two-three-width{
  width: 480px;
  border: 0.1px solid white;
  margin: 0;
height: auto;
}

.button:hover {
  background-color: rgb(202, 142, 64);
  color:white;
}

#git-logo{
  width: 200px;
  height: 100px;
}
p{
  margin: 8px;
  line-height: 25px;
}
.section-content{
  text-align: justify;
}

#footer {
  position:fixed;
  bottom:0px;
  height:30px;
  width:100%;
}


a.button {
  font-size: 20px;
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: buttontext;
  background-color: buttonface;
  text-decoration: none;
}