main{
   justify-content: center;
    display: grid;
}
h1{
    width: auto;
    display: flex;
    justify-content: center;
    font-size:xx-large;

}
p{
    display: flex;
    font-weight: lighter;
    justify-content: center;
    font-size: larger;
    padding: 0px;
}
.git{  
    flex-wrap: wrap;
    width: 900px;
    height: 500px;
    border: 2px black solid;
    margin:20px 300px ;
}
.git article:first-child {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.logo{
     
     margin:auto;
     height:250px;
     padding:30px;
}
.merge{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.developer,.branch
{
    display: inline-flex;
    flex-direction: column;
    border: 2px black solid;
    margin:10px ;
    height: 500px;
    width: 420px;
    padding: 10px 10px;
    justify-content: flex-end;
    background-color: #f0f0f0;
}
.pic,.dev{
    display: flex;
    justify-content: center;
    height: 250px;
    width: 400px;
    margin:10px;
}
.foot{
    border: 1px black solid;
    display: flex;
    justify-content: space-around;
}
footer {
    border: 1px black solid;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;}
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}