/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #E0D7CE;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
main {
  flex: 1;
  padding-bottom: 40px; 
}
/* Header Styling */
header {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.title {
  display: block;
  margin: auto;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

.about {
  font-size: 16px;
  margin-left: -20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav {
    display: none;
  }
}

/* Band Container */
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.band a:first-child .card {
  background-color: #f0f0f0; 
  border: 2px solid #333;
  padding: 25px;
}
@media only screen and (min-width: 50px) {
  .band {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  }
  .item-1 {
    grid-column: 1 / -1;
  }
}

@media only screen and (min-width: 150px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .item-1 {
    grid-column: 1 / -1; 
  }
  .item-4 {
    grid-column: 1 / 3; 
  }
  .item-5 {
    grid-column: 3 / 5; 
  }
}

/* Card Styling */
.card {
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
  padding: 20px;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center;
}

.card-button {
  background-color: #9a9488;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start; 
  text-decoration: none;
}

.card-button:hover {
  background-color: #535454;
}

/* Typography */
h1 {
  font-size: 20px;
  color: #333;
}

/* Footer Styling */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto; /****** */
  width: 100%;
  position: sticky; /* Use sticky to fix footer at the bottom */
  bottom: 0;
  left: 0;
}

.footer-content {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

