
/* General page styling */
body {
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
  }
  
header {
  text-align: center;
  background-color: #8a7777;
  color: white;
  padding: 20px 0;
  border: 2px solid #269a37; 
  }

  /* Article image styling */
article img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

  /* Main container for all articles */
  .articles {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 5%;
    background-color: #f8f8f8; 
    justify-content: center;
    margin-bottom: 100px;
    
  }

  article {
    flex: 1 1 50%;
    padding: 10px;
    border: 1.5px solid #be3e3e; 
    box-sizing: border-box; 
}
  
  /* Style for the first article (Article Title1) */
  article:first-child {
    flex: 1 1 100%;
    background-color: white;
    background-size: 150% auto;
    
  }
 
  .articles a {
    display: inline-block;
    background-color: #973333;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    
}

.articles a:hover {
  background-color: #6e7ba7;
  color: #0a0904;
}

  /* Footer styling */
  footer {
    text-align: center;
    font-weight: bold;
    background-color: #8a7777;
    color: white;
    position: fixed;
    padding: 10px;
    width: 100%;
    bottom: 0;
    border-top: 2px solid #be3e3e;
  }
