* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #E6DACD; 
    color: #000; 
}

header {
    background-color: #F4ECE6; 
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0150FD; 
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-item {
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #E6DACD;
}


@media (min-width: 640px) {
    .project-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project-item {
        flex: 1 1 30%; 
        margin: 10px;
    }
}