* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: "Josefin Sans", sans-serif;
}

h1, h2, p {
    text-align: center;
}

legend {
    font-weight: bold;
}

.container {
    width: 70%;
    margin: 0 auto;
}

fieldset {
    border: 2px solid black;
    margin-bottom: .50em; 
    padding: 1em; 
}

input {
    border-radius: 15px;
    padding: .3em;
    text-align: center;
}

input:focus {
    outline: 2px solid #0056b3; 
    outline-offset: 2px;
}


input:invalid:not(:placeholder-shown) {
    border-color: red;
    background-image: url('/Form-Controls/checkedred.png');
}

input:valid:not(:placeholder-shown) {
    background-image: url('/Form-Controls/chekedgreen.png');
}

input:invalid:not(:placeholder-shown), 
input:valid:not(:placeholder-shown) {
    padding: .20em;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px);
}

input:invalid ~ button[type="submit"]{
    opacity: .6;
    pointer-events: none;
}

footer {
    font-weight: bold;
    font-size: large;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}