
body {
    font-family: Arial, Helvetica, sans-serif;
    color:  #101820;
    margin-top: 0;
    background-color: antiquewhite;
  } 

 header {
   background-color: #2d2d2c;
   text-align: center;
   padding: .5px;
   color: antiquewhite;
  } 
 
 #logo {
    display: block;
    margin: 0 auto;
    /* height:100px;
    width: 200px; */
    
 }
 button{
  padding: 10px, 10px;
  background-color: rgb(164, 150, 124);
  border-radius: 5px;
  color: antiquewhite;
 }
 button:first-child {
  background-color: antiquewhite;
  color: #684d15;
 }

section{
  /* display: flex;
  flex-direction: column; */
  /* text-align: left; */
}

  article:first-child {
    background-color: rgb(164, 150, 124);
    margin-bottom: 20px;
    padding: 20px;
   }
 
article:not(:first-child){
  border: solid 2px #684d15;
  display: inline-block;
  width: 47%;
  height: 200px;
  vertical-align: top;
  padding: 10px;
  margin-bottom: 60px;
  }
  
footer{
    position: fixed;
    bottom: 0;
    color: antiquewhite;
    background-color: #2d2d2c;
    text-align: center;
    margin-top: 10px;
    padding: 1px 1px;
}
a {
  color: antiquewhite;
}
   
  