body{
    font-family: 'Courier New', Courier, monospace;
}


header {
    background-color: brown;
    margin: 0 auto 5rem auto;
    text-align: center;
    color:azure;
    padding: 2rem 0 2rem 0;
    margin-bottom: 2rem;
}

article:first-child {
    display: block;
   margin-bottom: 1rem;
   
}

article:not(:first-child){
    display: inline-block;
    width: 40%;

}

.btn-more {
    margin-bottom: 3rem;
}

.article-container {
    display: flex;
    gap: 20px;
    flex: 1;
}

